﻿
@if (TempData["Error"] != null)
{
    <div class="row text-center ">
        <div class="col-md-6 offset-3 ">
            <h1 class="text-black-50 alert-danger"><span><b>Sorry!</b> - @TempData["Error"]</span></h1>
            <hr />
            <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">Back</a>
        </div>
    </div>
}
