﻿<div class="row text-center">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">You have reached the end of the internet</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index"  > Home Page</a>
    </div>
</div>