﻿<div class="row">
    <div class="col-md-6 offset-3 alert-success text-center" >
        <h2>Orders completed sucessfully</h2>
        <p>You can check all your orders in the Orders section of your profile</p>
        <hr />
        <p>Thank You</p>
    </div>
</div>