﻿@using eTicketBooking.Data.ViewModel
@model ShoppingCartVM
@{
    ViewData["Title"] = "Shopping Cart Summery";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="text-center">
            <h2>Your Shopping cart Summery</h2>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Selected Amount</th>
                    <th>Moves</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>
            </thead> 
            <tbody>
                @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
                {
                <tr>
                    <td class="align-middle">@item.Amount</td>
                    <td class="align-middle">@item.Movie.Name</td>
                    <td class="align-middle">@item.Movie.Price.ToString("c")</td>
                    <td class="align-middle">@((item.Amount*item.Movie.Price).ToString("c"))</td>
                    <td class="align-middle">
                        <a class="text-danger" asp-controller="Orders" asp-action="RemoveItemFromShoppingCart" asp-route-id="@item.Movie.Id">
                            <i class="bi bi-cart-dash"></i>
                        </a>
                        <a class="text-success" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@item.Movie.Id">
                            <i class="bi bi-cart-plus"></i>
                        </a>
                    </td>
                </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td><b>Total:</b></td>
                    <td>
                        @Model.ShoppingCartTotal.ToString("c")
                    </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        <div class="text-center">
            <div class="form-group">
                <a class="btn btn-outline-primary" asp-action="CompleteOrder">Complete order</a>
                <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">Add more items</a>
            </div>
        </div>
    </div>
</div>