﻿@model Cinema
@{
    ViewData["Title"] = "Delete Cinema";
}
<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Delete Confirmation for @Model.Name</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="form-group text-center">
                    <img class="border-info rounded-circle" src="~/images/cinemas/@Model.LogoURL" style="max-width:150px;" id="LogoPreview" />
                </div>
                <div class="form-group">
                    <label asp-for="Logo" class="control-lable"></label>
                    <input asp-for="LogoURL" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-lable"></label>
                    <input asp-for="Name" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-lable"></label>
                    <input asp-for="Description" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <form asp-action="DeleteConfirmed">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Confirm" class="btn btn-danger float-right" />
                    </form>
                    <a asp-action="Index" class="btn   btn-success">Show All</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        @*
        $(document).ready(function () {
            var output = document.getElementById('LogoPreview');
            output.src = $("#Logo").val();
        })
            *@
    </script>
}