﻿@model Producer
@{
    ViewData["Title"] = "Show Producers Details";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Details for @Model.FullName</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="form-group text-center">
                    <img class="border-info rounded-circle" src="~/images/producers/@Model.ProfilePictureURL" style="max-width:150px;" id="ProfilePicturePreview" />
                </div>
                <div class="form-group">
                    <label asp-for="ProfilePictureURL" class="control-lable"></label>
                    <input asp-for="ProfilePictureURL" class="form-control" readonly />

                </div>
                <div class="form-group">
                    <label asp-for="FullName" class="control-lable"></label>
                    <input asp-for="FullName" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Bio" class="control-lable"></label>
                    <input asp-for="Bio" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <form asp-action="DeleteConfirm">
                        <input type="hidden" asp-for="Id"/>
                        <input class="btn btn-danger float-right" type="submit" asp-action="DeleteConfirm"  value="Confirm" />
                    </form>
                    <a asp-action="Index" class="btn btn-success">Show All</a>
                </div>
            </div>
        </div>
    </div>
</div>