﻿@using eTicketBooking.Data.ViewModel
@model LoginVM

@{ 
    ViewData["Title"] = "Log in to your account";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>
                Log in to your account
            </h4>
        </p>
        @if(TempData["Error"] != null)
            {
              <div class="col-md-12 alert-danger">
                  <span><b>Sorry!</b> - @TempData["Error"]</span>
              </div>
            }
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Login" >
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="EmailAddress" class="control-lable"></label>
                        <input asp-for="EmailAddress" class="form-control"/>
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-lable"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Log in" class="btn btn-outline-success float-right"/>
                        <a class="btn btn-outline-secondary float-left" asp-controller="Movies" asp-action="Index">Cancel</a> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>