﻿<div class="row">
    <div class="col-md-6 offset-3 alert-success text-center" >
        <h2>Your account was created sucessfully</h2>
        <p>You can now login to your account using your credentials</p>
        <hr />
        <p>Thank You</p>
    </div>
</div>