﻿@model Actor

@{
    ViewData["Title"] = "Edit new Actor";
}
<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Update Actor</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form enctype="multipart/form-data" asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger">
                    </div>
                    <div class="form-group text-center">
                        <img class="border-info rounded-circle" style="max-width:150px;" src="~/images/actors/@Model.ProfilePictureURL" id="ProfilePicturePreview" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ProfilePicture" class="control-lable"></label>
                        <input asp-for="ProfilePictureURL" type="hidden" readonly />
                        <div class="custom-file">
                            <input asp-for="ProfilePicture" class="custom-file-input" id="ProfilePicture"
                                   onchange="document.getElementById('ProfilePicturePreview').src = window.URL.createObjectURL(this.files[0])" />
                            <lable class="custom-file-label" for="ProfilePicture">Choose File</lable>
                            <span asp-validation-for="ProfilePicture" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="FullName" class="control-lable"></label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Bio" class="control-lable"></label>
                        <input asp-for="Bio" class="form-control" />
                        <span asp-validation-for="Bio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="name" value="Update" class="btn btn-success float-right" />
                        <a asp-action="Index" class="btn btn-success">Show All</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>

        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}