﻿@model string
<div class="form-group text-center">
    <img class="border-info rounded-circle" style="max-width:150px;" id="ProfilePicturePreview" />
</div>
<div class="form-group">
    <label asp-for="@Model" class="control-lable"></label>
    <div class="custom-file">
        <input asp-for="@Model" type="file" name="@Model" class="custom-file-input" id="ProfilePicture"
               onchange="document.getElementById('ProfilePicturePreview').src = window.URL.createObjectURL(this.files[0])" />
        <lable class="custom-file-label" for="ProfilePicture">Choose File</lable>
        @Html.ValidationMessage(Model, new { id = "testId", @class = "text-danger" })
        @* <span asp-validation-for="@Model" class="text-danger"></span>*@

    </div>
</div>

